/* Variable Styles */
:root {
    --white-color: #ffffff;
    --yellow-color: #fce138;
    --blue-color: #024e76;
    --lightpurple-color: #7c4f91;
    --purple-color: #572175;
    --darkestpurple-color: #350a5b;
  }

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* Body Styles */
body {
    color: var(--purple-color);             
    font-family: Helvetica, Arial, sans-serif;
}

/* Header Styles */
header {
    padding: 20px 35px;
    background-color: var(--darkestpurple-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky; /*always put vender-prefixed versions first */
    position: sticky;
    top: 0;
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}

header h1 {
    font-weight:bold;
    font-size:36px;
    color:var(--yellow-color);
    margin:0;
    text-shadow: 0 0 10px rgba(248, 89, 200, 0.5);
}

header a {
    color:var(--white-color);
    text-decoration: none;
}

#about {
    scroll-margin-top: 40px;
}

#work {
    scroll-margin-top: 40px;
}

#contact {
    scroll-margin-top: 40px;
}

#resume {
    scroll-margin-top: 40px;
}

header nav{
    margin:7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    margin:10px 15px;
    font-weight:lighter;
    font-size:1.55vw;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
}

header nav ul li a:hover {
    background: var(--yellow-color);
    color: var(--blue-color);
    border-radius: 15px;
    text-shadow: none;
}

/* Hero Styles */
.hero {
    background-image: url("../images/hero.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: right 35% top 100%;
    height:500px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}

.brianpic {
    width: 23%;
    text-align: center;
    margin: 3.5%;
    padding-right:20px;
    color: #fff;
    font-size: 18px;
    line-height: 1.2;
    position: absolute;
    top: 100px;
    left: 0px;
    
}

.hero-developer {
    width: 23%;
    text-align: center;
    margin: 3.5%;
    padding-right:20px;
    color: var(--white-color);
    font-size: 18px;
    line-height: 1.2;
    position: absolute;
    top: 100px;
    left: 275px;
    
}

.hero-sub-title {
    border:solid 3px var(--blue-color);
    background-color: rgba(252,225,56,0.8);
    padding:20px;
    color:var(--blue-color);
    width: 22%;
    margin: 3.5%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 15px;
    position: absolute;
    top: 425px;
    right: 200px;
}

/* Container Styles */
.container-light {
    background: var(--lightpurple-color); 
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    height: 400px;
    color: var(--white-color);
}

.container-dark {
    background: var(--purple-color); 
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    height: 400px;
    color: var(--white-color);
}

.container-work {
    background: var(--purple-color); 
    background-attachment: fixed;
    background-position: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: top;
    height: 1200px;
    color: var(--white-color);
}

/* About Brian Section Styles */
.detail-title-light {
    background: var(--lightpurple-color); 
    color: var(--blue-color);
    font-size: 30px;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    align-items: flex-start;
    height: 300px;
    width: 15%;
    padding-right: 10px;
    border-right: 2px solid var(--white-color);
    color: var(--white-color);
}

.detail-light {
    background: var(--lightpurple-color); 
    color: var(--blue-color);
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    align-items: flex-start;
    height: 300px;
    width: 85%;
    padding-left: 20px;
    color: var(--white-color);
}

/* Featured Work Styles */

.featured-detail {
    background: var(--purple-color); 
    color: var(--blue-color);
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    align-items: flex-start;
    height: 600px;
    width: 85%;
    padding-left: 20px;
    color: var(--white-color);
}

.featured-work {
    background: var(--yellow-color); 
    color: var(--blue-color);
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    height: 500px;
    width:80%;
    border: 5px solid var(--yellow-color);
}

.featured-work img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    flex: 1 12%;
}

.featured-work img a {
    text-decoration: none;
  }

.featured-work-title {
    border:solid 3px var(--yellow-color);
    background-color: var(--yellow-color);
    padding:10px;
    color:var(--purple-color);
    font-size: 20px;
    font-weight: bold;
    width: 10%;
    margin-top: 24%;
    position: absolute;
}

.featured-work-title-sub {
    color:var(--purple-color);
    font-size: 12px;
}

/* Work Sample Styles */

.work-title {
    background: var(--purple-color); 
    color: var(--blue-color);
    font-size: 30px;
    display: flex;
    justify-content: right;
    text-align: right;
    flex-wrap: wrap;
    align-items: flex-start;
    height: 1100px;
    width: 15%;
    padding-right: 10px;
    border-right: 2px solid var(--white-color);
    color: var(--white-color);
}

.sample-work {
    background: var(--yellow-color); 
    color: var(--blue-color);
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    height: 250px;
    width:39.15%;
    margin-top: 20px;
    margin-right: 20px;
    border: 5px dashed var(--yellow-color);
}

.sample-work img {
    max-width: 100%;
    max-height: 100%;
    flex: 1 12%;
}

.sample-work-title {
    border:solid 3px var(--yellow-color);
    background-color: var(--yellow-color);
    padding:10px;
    color:var(--purple-color);
    font-size: 20px;
    font-weight: bold;
    width: 10%;
    margin-top: 9%;
    position: absolute;
}

.sample-work-title-sub {
    color:var(--purple-color);
    font-size: 12px;
}

/* Contact Styles */

.container-contact {
    background: var(--lightpurple-color); 
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    height: 200px;
    color: var(--white-color);
}

.detail-title-contact {
    background: var(--lightpurple-color); 
    color: var(--blue-color);
    font-size: 30px;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    align-items: flex-start;
    height: 100px;
    width: 15%;
    padding-right: 10px;
    border-right: 2px solid var(--white-color);
    color: var(--white-color);
}

.detail-contact {
    background: var(--lightpurple-color); 
    color: var(--blue-color);
    display: flex;
    justify-content: left;
    text-align: right;
    flex-wrap: wrap;
    align-items: flex-start;
    height: 100px;
    width: 85%;
    padding-left: 20px;
    color: var(--white-color);
}

.contact {
    text-decoration: underline;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.method {
    margin-right: 20px;
    font-size:20px;
}

.method a {
    color: var(--white-color);
}

.method a:hover {
    color: var(--yellow-color);
}

/* Resume Styles */

.detail-title-dark {
    background: var(--purple-color); 
    color: var(--blue-color);
    font-size: 30px;
    display: flex;
    justify-content: right;
    text-align: right;
    flex-wrap: wrap;
    align-items: flex-start;
    height: 300px;
    width: 15%;
    padding-right: 10px;
    border-right: 2px solid var(--white-color);
    color: var(--white-color);
}

.detail-dark {
    background: var(--purple-color); 
    color: var(--blue-color);
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    align-items: flex-start;
    height: 300px;
    width: 85%;
    padding-left: 20px;
    color: var(--white-color);
}

.resume-title {
    display:flex;
    justify-content: right;
    flex-wrap: wrap;
    align-items: center;
    width: 15%;
    margin-right: 20px;
    color: var(--yellow-color);
    font-size: 20px;
}

.skills {
    display:flex;
    justify-content: left;
    flex-wrap: wrap;
    align-items: center;
    width: 80%;
    font-size: 20px;
}

/* Footer styles */

footer {
    background: var(--darkestpurple-color);
    width:100%;
    padding:40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer h2 {
    color:var(--yellow-color);
    font-size:30px;
    margin:0;
}

footer div {
    line-height:1.5;
    text-align:right;
}

footer a {
    color:var(--blue-color);
}

/* Utility Classes */

.yellow {
    color: var(--yellow-color);
}

section {
    padding:60px;
}

/* Media queries must go in the following order, after all of the other styles */

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    /* this will be applied on any screen smaller than 980 px */
    header  {
        padding-bottom: 0;
        justify-content: center;
        position:relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px;
    }

    header h2, footer div {
        text-align: center;
        width: 100%;
    }

    .detail-title {
        background: var(--white-color); 
        color: var(--blue-color);
        font-size: 30px;
        display: flex;
        justify-content: right;
        flex-wrap: wrap;
        align-items: flex-start;
        height: 200px;
        width: 30%;
        padding-right: 10px;
        border-right: 2px solid var(--blue-color);
    }

    .details {
        background: var(--white-color); 
        color: var(--blue-color);
        display: flex;
        justify-content: left;
        flex-wrap: wrap;
        align-items: flex-start;
        height: 200px;
        width:70%;
        padding-left: 20px;
    }

}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    /* this will be applied on any screen between 768px and 575px */
    section {
        padding: 30px 15px;
    }

    /* add area and detail styles */
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    /* this will be applied on any screen smaller than 575 px */
    
    /* add area and detail sytles */
}
