:root {
    --primary-color: #572175;
    --secondary-color: #024e76;
    --tertiary-color: #39a6b2;
    --fourth-color: #fce138;
    --fifth-color: #ffffff;
    --sixth-color: #c2b9ce;
    --seventh-color: #350a5b;
    --eighth-color: #f89b72;
    --ninth-color: #7c4f91;
    --tenth-color: #572175;
  }

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body {
    /* body styles */
    color: var(--sixth-color);             
    font-family: Helvetica, Arial, sans-serif;
}

/* header styles */
header {
    padding: 20px 35px;
    background-color: var(--seventh-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky; /*always put vender-prefixed versions first */
    position: sticky;
    top: 0;
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}

header h1 {
    font-weight:bold;
    font-size:36px;
    color:var(--fourth-color);
    margin:0;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
    background: var(--ninth-color);
}

header a {
    color:var(--fifth-color);
    text-decoration: none;
}

header nav{
    margin:7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    margin:10px 15px;
    font-weight:lighter;
    font-size:1.55vw;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
}

header nav ul li a:hover {
    background: var(--fourth-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}

/* Hero Styles */
.hero {
    background-image: url("../images/hero.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: right 35% top 100%;
    height:500px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}

.hero-developer {
    width: 23%;
    text-align: center;
    margin: 3.5%;
    padding-right:20px;
    color: #fff;
    font-size: 18px;
    line-height: 1.2;
    position: absolute;
    top: 100px;
    left: 250px;
    
}

.hero-sub-title {
    border:solid 3px var(--secondary-color);
    background-color: rgba(252,225,56,0.8);
    padding:20px;
    color:var(--secondary-color);
    width: 24%;
    margin: 3.5%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 15px;
    position: absolute;
    top: 425px;
    right: 200px;
}

/* Hero Style End */

/* Section Style */

section {
    padding:60px;
}

/* Section Style End */

/* Container Light Style */
.container-light {
    background: var(--ninth-color); 
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    height: 400px;
    color: var(--fifth-color);
}
/* Container Light Styles End */

/* Container Dark Styles */
.container-dark {
    background: var(--tenth-color); 
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    height: 400px;
    color: var(--fifth-color);
}
/* Container Dark Styles End */

/* Detail Title Light Styles */
.detail-title-light {
    background: var(--ninth-color); 
    color: var(--secondary-color);
    font-size: 30px;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    align-items: flex-start;
    height: 300px;
    width: 15%;
    padding-right: 10px;
    border-right: 2px solid var(--fifth-color);
    color: var(--fifth-color);
}
/* Detail Title Light Styles End */


/* Detail Title Dark Styles */
.detail-title-dark {
    background: var(--tenth-color); 
    color: var(--secondary-color);
    font-size: 30px;
    display: flex;
    justify-content: right;
    text-align: right;
    flex-wrap: wrap;
    align-items: flex-start;
    height: 300px;
    width: 15%;
    padding-right: 10px;
    border-right: 2px solid var(--fifth-color);
    color: var(--fifth-color);
}
/* Detail Title Dark Styles End */


/* Detail Light Styles */
.detail-light {
    background: var(--ninth-color); 
    color: var(--secondary-color);
    display: flex;
    justify-content: left;
    text-align: right;
    flex-wrap: wrap;
    align-items: flex-start;
    height: 300px;
    width: 85%;
    padding-left: 20px;
    color: var(--fifth-color);
}
/* Detail Light Styles End */

/* Detail Dark Styles */
.detail-dark {
    background: var(--tenth-color); 
    color: var(--secondary-color);
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    align-items: flex-start;
    height: 300px;
    width: 85%;
    padding-left: 20px;
    color: var(--fifth-color);
}
/* Detail Dark Styles End */

/* Work Styles */

/* Container Dark Styles */
.container-work {
    background: var(--tenth-color); 
    background-attachment: fixed;
    background-position: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: top;
    height: 1200px;
    color: var(--fifth-color);
}
/* Container Dark Styles End */

/* Work Title Styles */
.work-title {
    background: var(--tenth-color); 
    color: var(--secondary-color);
    font-size: 30px;
    display: flex;
    justify-content: right;
    text-align: right;
    flex-wrap: wrap;
    align-items: flex-start;
    height: 1100px;
    width: 15%;
    padding-right: 10px;
    border-right: 2px solid var(--fifth-color);
    color: var(--fifth-color);
}
/* Work Title Styles End */

/* Work Detail Styles */
.featured-detail {
    background: var(--tenth-color); 
    color: var(--secondary-color);
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    align-items: flex-start;
    height: 600px;
    width: 85%;
    padding-left: 20px;
    color: var(--fifth-color);
}
/* Work Detail Styles End */

/* Featured Work Styles */

.featured-work {
    background: var(--fourth-color); 
    color: var(--secondary-color);
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    height: 500px;
    width:80%;
    border: 5px solid var(--fourth-color);
}

.featured-work img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    flex: 1 12%;
}

.featured-work img a {
    text-decoration: none;
  }

.featured-work-title {
    border:solid 3px var(--fourth-color);
    background-color: var(--fourth-color);
    padding:10px;
    color:var(--primary-color);
    font-size: 20px;
    font-weight: bold;
    width: 10%;
    margin-top: 24%;
    position: absolute;
}

.featured-work-title-sub {
    color:var(--primary-color);
    font-size: 12px;
}

/* Featured Work End */



/* Sample Work Styles */

.sample-work {
    background: var(--fourth-color); 
    color: var(--secondary-color);
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    height: 250px;
    width:39.15%;
    margin-top: 20px;
    margin-right: 20px;
    border: 5px solid var(--fourth-color);
}

.sample-work img {
    max-width: 100%;
    max-height: 100%;
    flex: 1 12%;
}

.sample-work-title {
    border:solid 3px var(--fourth-color);
    background-color: var(--fourth-color);
    padding:10px;
    color:var(--primary-color);
    font-size: 20px;
    font-weight: bold;
    width: 10%;
    margin-top: 9%;
    position: absolute;
}

.sample-work-title-sub {
    color:var(--primary-color);
    font-size: 12px;
}

/* Sample Work End */


/* Contact Styles */

.contact {
    text-decoration: underline;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.method {
    margin-right: 20px;
    font-size:20px;
}

.method a {
    color: var(--fifth-color);
}

.method a:hover {
    color: var(--fourth-color);
}

/* Contact End */

/* Footer styles */

footer {
    background: var(--seventh-color);
    width:100%;
    padding:40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer h2 {
    color:var(--fourth-color);
    font-size:30px;
    margin:0;
}

footer div {
    line-height:1.5;
    text-align:right;
}

footer a {
    color:var(--secondary-color);
}

/* Footer Styles End */

/* Utility Classes */

.flex-row {
    display: flex;
}

/* Media queries must go in the following order, after all of the other styles */

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    /* this will be applied on any screen smaller than 980 px */
    header  {
        padding-bottom: 0;
        justify-content: center;
        position:relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px;
    }

    header h2, footer div {
        text-align: center;
        width: 100%;
    }

    .areawhite {
        background: var(--fifth-color); 
        background-size: cover;
        background-attachment: fixed;
        background-position: 80%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
    }

    .areagray {
        background: var(--sixth-color); 
        background-size: cover;
        background-attachment: fixed;
        background-position: 80%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
    }

    .detail-title {
        background: var(--fifth-color); 
        color: var(--secondary-color);
        font-size: 30px;
        display: flex;
        justify-content: right;
        flex-wrap: wrap;
        align-items: flex-start;
        height: 200px;
        width: 30%;
        padding-right: 10px;
        border-right: 2px solid var(--secondary-color);
    }

    .details {
        background: var(--fifth-color); 
        color: var(--secondary-color);
        display: flex;
        justify-content: left;
        flex-wrap: wrap;
        align-items: flex-start;
        height: 200px;
        width:70%;
        padding-left: 20px;
    }

}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    /* this will be applied on any screen between 768px and 575px */
    section {
        padding: 30px 15px;
    }

    /* add area and detail styles */
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    /* this will be applied on any screen smaller than 575 px */
    
    /* add area and detail sytles */
}
